# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# Poetry
.poetry-virtualenvs/
archive/tests/monitor_ui.html
archive/tests/test_ui.py
newapp/.cache_data/MT5_WDO_M5_20251210_20260126.parquet
newapp/.cache_data/MT5_WDO_M5_20260126_20260127.parquet
newapp/.cache_data/MT5_WDO_M5_20260127_20260127.parquet
newapp/.cache_data/MT5_WDO_M5_20260127_20260130.parquet
